.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 35%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
  display: flex;
  /* background-image: url(""); */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-field {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
  width: 300px;
}

.col{
  font-size: 0px;
  min-width: 308px;
}

.row{
  display: inline-block;
  border: 4px solid black;
  font-size: 90px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  box-sizing: border-box;
  vertical-align: middle;
  color: white;
}

.but {
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 150px;
  padding: 10px;
  text-align: center;
}
div:active {
  color:red;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

body{
  
}